.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

.flex { display: flex; }
.items-center { align-items: center; }
.justify-between { justify-content: space-between; }
.justify-center { justify-content: center; }
.flex-1 { flex: 1; }

.btn {
    padding: 0.8rem 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
}

.btn-primary { background: var(--primary); color: var(--secondary); border-radius: 50px; }
.btn-primary:hover { background: transparent; border-color: var(--primary); color: var(--primary); }

.btn-secondary { background: transparent; color: var(--primary); border: 2px solid var(--primary); border-radius: 50px; }
.btn-secondary:hover { background: var(--primary); color: var(--secondary); }